#head {
    display: grid;
    text-align: center;

    background-color: black;
    border-radius: 0 0 20px 20px;

    height: 65vh;
    width: 100%;
}

#head * {
    margin: 0;
    padding: 0;
}

#bg {
    opacity: 0.60;
    position: absolute;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 100%;
    max-width: 100%;
    min-height: 65vh;
    max-height: 65vh;
    object-fit: cover;
    object-position: center center;
}

#pegakkk {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#header {
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    z-index: 1;
}

#i-city {
    width: 0;
    height: 40px;
    padding-left: 1px;
    border: none;
    transition: width 300ms;
}

#i-city:focus {
    padding-left: 14px;
    width: 100px;
}



#data {
    display: flex;
    place-items: center;
}

#calendar {margin-right: 6px;}
#calendar{
    min-height: 22px;
    min-width: 21px;
    max-height: 22px;
    max-width: 21px;
}

#clima {
    margin-top: 15px;
    font-size: 32px;
}

#c_clima {
    margin: 0 auto;
    margin-top: 10px;

    align-self: center;

    z-index: 1;
}

#clima_report {
    margin-bottom: 7px;
    background-color: rgba(224, 240, 255, 0.27);

    display: flex;
    align-items: center;
    padding-right: 15px;
    border-radius: 30px;
}

#c_img {
    margin-right: 15px;
    height: 105px;
    background-color: rgba(224, 240, 255, 0.27);
    border-radius: 30px;
}

#city{
    font-size: 18px;
}

#temp{
    font-size: 48px;
}

/* #max_min div {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#max_min div img {
    height: 28px;
} */

#stat {
    margin: auto;
    width: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
}

 @media(max-height: 600px){
    #head{
        min-height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }
    #bg{
        min-height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }
} 