#head {
    width: 100%;
    height: 67vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    justify-content: space-between;
    background-color: black;
    border-radius: 0 0 20px 20px;
}

.bg {
    opacity: 0.60;
    position: absolute;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 67vh;
    object-fit: cover;
}


#clima {
    margin-top: 50px;
    height: fit-content;

    font-size: 32px;
    z-index: 1;
}

#c_clima {
    z-index: 1;
    width: fit-content;
}

#clima_report {
    margin-bottom: 5px;
    background-color: rgba(224, 240, 255, 0.27);

    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    padding-right: 15px;
    border-radius: 30px;

}

#c_img {
    margin-right: 15px;
    height: 105px;
    background-color: rgba(224, 240, 255, 0.27);
    border-radius: 30px 0 0 30px;
}

#city {
    font-size: 18px;
}

#temp {
    font-size: 48px;
}

/* #max_min div {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

#max_min div img {
    height: 28px;
} */

#stat {
    margin-bottom: 10px;
    z-index: 1;
}

#starcont{
    flex-wrap: wrap;
    position: absolute;
    display: flex;
    
    width: calc(100% - 10px);
    height: calc(67vh - 10px);

    place-content: end;
    margin-right: 10px;
}


@media(max-height: 600px) {
    #head {
        height: calc(100vh - 70px);
    }

    .bg {
        /* min-height: calc(100vh - 60px);
        max-height: calc(100vh - 60px); */
        height: calc(100vh - 70px);
    }
    #starcont{
        height: calc(100vh - 70px - 10px);
    }
}

#clima-swiper{
    height: 67vh;
    width: 100%;
    border-radius: 15px;
}

.clima-swiper-slide{
    width: 100%;
}