#Dicas {
    display: flex;
    justify-content: center;
}

#listaDicas {
    width: 50%;
}

#listaDicas p {
    margin: 10px;
}

#listaDicas li {
    list-style: disc;
    margin: 10px 30px;
}

#listaDicas h1 {
    font-size: 38px;
    margin: 10px;
}

#listaDicas label {
    font-size: small;
}

@media(max-width: 940px) {
    #listaDicas {
        width: 90%
    }
}