#Dicas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#cont {
    display: flex;
    justify-content: center;
    width: calc(100% - 80px);
    max-width: 1600px;
}

#listaDicas {
    width: 50%;
}

#listaDicas h1 {
    font-size: 38px;
}

#listaDicas label {
    font-size: small;
}

#listaDicas img {
    width: 100%;
}

@media(max-width: 940px) {
    #listaDicas {
        width: 90%
    }
}