.previsaoCont {
  height: fit-content;
  min-height: calc(100vh - 140px);
}

.clima2 {
  width: 70%;
}

@media (max-width: 800px) {
  .clima2 {
    width: 85%;
  }
}


@tailwind base;
@tailwind utilities;
