nav{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1040;
}

#topbar {
    display: flex;
    align-items: center;
    background-color: #303030;
    padding: 10px 0;
}

#logo {
    height: 40px;
    margin-left: calc(7% + 10px);
}

#search{
    height: 30px;
    margin-left: calc(100% - 140px - 14% - 162px);
    background-color: rgb(31, 31, 31);
    border-radius: 25px;
    position: relative;
}

#in-search {
    width: 120px;
    height: 100%;
    padding: 0 38px 0 10px;
    display: block;
    border-radius: 25px;
    border: none;
    outline: none;
    background:none;
}

#b-search{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4px;
    height: 100%;
    cursor: pointer;
    border: none;
    background:none;
    outline: none;
}

#b-search img{
    padding: 6px;
    height: 18px;
}