#noticia {
    display: flex;
    margin: 15px;
}

#noticiaImg {
    height: 140px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#noticiaDesc {
    margin: 0 15px;
    font-size: 14px;
}

#noticiaTitulo,
#noticiaCreditos,
#noticiaDescricao {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
}

#noticiaTitulo {
    max-width: calc(41vw - 230px);
}

@media (max-width: 800px) {
    #noticiaImg {
        height: 112px;
        width: 160px;
    }

    #noticiaDescricao {
        font-size: 10px;
    }

    #noticiaTitulo,
    #noticiaCreditos,
    #noticiaDescricao {
        max-width: 46vw;
    }
}
