#noticia {
    display: flex;
    margin: 15px;
}

#imgCont {
    height: fit-content;
    width: fit-content;
}

#noticia img {
    height: 140px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#noticiaDesc {
    margin: 0 15px;
    font-size: 12px;
}

#creditos {
    margin: 9% 0 0 0;
}

hr {
    width: 90%;
    margin: auto;
    border: .5px solid grey;
}