#formulario {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emailField, #passwordField {
    width: 300px;
    height: 25px;
}

#senhaCont {
    margin: 30px;
}