#infoContPage {
    display: flex;
    justify-content: center;
}

#infoContCont {
    width: 50vw;
}

@media(max-width: 940px) {
    #infoContCont {
        width: auto;
        padding: 0 15px;
    }
}