a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #bbbbbb;
}

a:active {
    color: #bbbbbb;
}

#body {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#conteudo {
    display: flex;
    width: calc(100% - 80px);
    max-width: 1600px;
    justify-content: center;
}

#noticias hr {
    border: 1px solid #202020;
}

#noticias {
    border-radius: 20px;
    background-color: #303030;
    
    margin: 7.5px;
    padding: 7.5px;

    width: 60%;
    height: fit-content;
}

#sideContent {
    border-radius: 20px;
    background-color: #303030;
    padding: 15px 15px 0;
    width: 40%;
    max-width: 350px;
    height: fit-content;
    margin: 7.5px;
}

#merda{
    display: none;
}

@media(max-width: 940px) {
    
    #merda{
        display: unset;
    }

    #seila{
        display: none ;
    }

    #conteudo {
        flex-direction:column-reverse;
        align-items: center;
        width: 100%;
    }

    #noticias {
        width: unset;
    }

    #sideContent {
        width: calc(100% - 45px);
        padding: 15px 15px 0 15px;
    }
}
