
.noticia {
    display: flex;
    place-items: center;
}

.noticiaCont{
    padding: 10px 0;
    border-radius: 20px;
}

.noticiaCont:hover{
    background-color: #202020;
}

.noticiaImg {
    min-height: 140px;
    max-height: 140px;
    min-width: 200px;
    max-width: 200px;

    margin: 5px 0 5px 15px;

    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
}

.noticiaDesc {
    font-size: 14px;
    margin: 0 15px;
}

.noticiaTitulo,
.noticiaCreditos,
.noticiaDescricao {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
}

hr{
    margin: 0 10px;
}

@media (max-width: 510px) {

    .noticia{
        flex-direction: column;
    }
    
    .noticiaImg {
        min-height: 180px;
        max-height: 180px;
        margin: 10px 0 10px;
        min-width: calc(100% - 20px);
        max-width: 100%;
        height: 180px;
    }

    .noticiaTitulo {
        font-size: 18px;
    }
    .noticiaDesc,.noticiaCreditos {
        font-size: 12px;
    }
}
