.noticia {
    padding: 7px 0;
    position: relative;
    display: flex;
    place-items: center;
    border-radius: 19px;
}

#noticiaItemCont hr {
    border: 1px solid #202020;
}

.noticia:hover {
    background-color: #202020;
}

.noticiaImg {
    width: 200px;
    height: 140px;

    margin: 0 0 0 7px;

    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
}

.noticiaDesc {
    font-size: 14px;
    margin: 0 12px;
}

.noticiaTitulo,
.noticiaCreditos,
.noticiaDescricao {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
}

#bookmarkCont {
    position: absolute;

    backdrop-filter: blur(5px);

    background-color: #30303073;

    border-radius: 50%;

    top: 10px;
    left: 10px;
}

#noticiasTitulo {
    text-align: center;
}

hr {
    margin: 3px 10px;
}

@media (max-width: 550px) {

    #bookmarkCont {
        left: unset;
        right: 10px;
    }

    .noticia {
        flex-direction: column;
    }

    .noticiaImg {
        min-height: 180px;
        width: calc(100% - 14px);
        margin: 0 0 7px 0;
    }

    .noticiaTitulo {
        font-size: 18px;
    }

    .noticiaDesc {
        margin: 0 12px;
    }

    .noticiaDesc,
    .noticiaCreditos {
        font-size: 12px;
    }
}

.horizontal {
    #bookmarkCont {
        left: unset;
        right: 10px;
    }

    .noticia {
        flex-direction: column;
    }

    .noticiaImg {
        height: 180px;
        width: calc(100% - 14px);
        margin: 0 0 7px 0;
    }

    .noticiaTitulo {
        font-size: 18px;
    }

    .noticiaDesc {
        margin: 0 12px;
    }

    .noticiaDesc,
    .noticiaCreditos {
        font-size: 12px;
    }
}