nav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: #303030;
}

#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 70px;
  margin: auto;
}

#logo {
  height: 35px;
}

#c_logo {
  height: 35px;
}

#search {
  width: 70px;
  transition: width 300ms;
}

#search:focus {
  width: 170px;
}

#account {
  padding: 7px;
}

#account img {
  height: 36px;
  border-radius: 50%;
}
