nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: #303030;
}

#topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}

#logo {
  height: 40px;
}

#c_logo {
  height: 40px;
  margin-right: 40px;
}

#search {
  width: 100px;
  transition: width 300ms;
}

#search:focus {
  width: 170px;
}