.App {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #bbbbbb;
}

a:active {
    color: #bbbbbb;
}

body{
	min-height: 100vh;
	position: relative;
}
#page{
    padding-bottom: 60px;
}

#body {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#conteudo {
    display: flex;
    margin: 0 30px;
    max-width: 1600px;
}

#tomatoma{
    border-radius: 20px;
    background-color: #303030;
    margin: 7.5px;

    width: 60%;
}

#sideContent {
    border-radius: 20px;
    background-color: #303030;
    margin: 7.5px;

    width: 40%;
}

#sideContent p {
    margin: 22.5px;
    word-break: break-word;
}

@media(max-width: 700px) {
    #conteudo {
        flex-direction: column;
        margin: 0 10px;
    }
    #tomatoma{
        width:unset;
    }
    #sideContent{
        width:unset;
    }
}