body {
  margin: 15px;
  background-color: #131313;
  color: #fff;
  font-size: 20px;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}