#widget-swiper{
    height: 250px;
    max-width: 350px;
    border-radius: 15px;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20px;

    bottom: 0 !important
}

.swiper-pagination-bullet{
    background-color: #4d4d4d;
    opacity:unset;
    height: 12px;
    width: 12px;
    margin: 0 7px !important; 
}
.swiper-pagination-bullet-active{
    background-color: #536eba;
}

/* .swiper-slide img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
} */