#Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #303030;
    align-items: center;
    justify-content: center;
}

#devmsg{
    min-width: fit-content;
    text-align: end;
    font-size: 13px;
}

#links{
    min-width: 140px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 6px;
}

#links a {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.logo{
    width: 20px;
    height: 20px;
}


@media(max-width: 600px) {
    #links a {
        margin-left: 10px;
    }
    #devmsg{
        font-size: 15px;
    }
    
}