#Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #303030;
    justify-content: center;
    align-items: center;
}

#logoGithub {
    width: 20px;
    height: 20px;
}