a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #bbbbbb;
}

a:active {
  color: #bbbbbb;
}

#body {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#containerpega {
  width: 100%;

  background-color: rgba(149, 155, 160, 0.3);
  backdrop-filter: blur(10px);

  position: fixed;
  z-index: 2;
}

#pegakkk {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

#calendar {
  margin-right: 6px;
}

#calendar {
  min-height: 22px;
  min-width: 21px;
  max-height: 22px;
  max-width: 21px;
}

#data {
  display: flex;
  place-items: center;
}

.MuiInputBase-root {
  padding-right: 12px !important;
}

#i-city {
  width: 0;
  padding: 0;
  transition: width 300ms;
}
#i-city:focus {
  padding-left: 14px;
  width: 100px;
}

#conteudo {
  display: flex;
  width: calc(100% - 40px);
  margin-top: 7.5px;
  justify-content: center;
}

#noticias hr {
  border: 1px solid #202020;
}

#noticias {
  border-radius: 20px;
  background-color: #303030;

  margin: 7.5px;
  padding: 7.5px;

  width: 60%;
  max-width: 800px;
  height: fit-content;
}

#sideContent {
  border-radius: 20px;
  background-color: #303030;
  padding: 15px 15px 0;
  width: 50%;
  max-width: 300px;
  margin: 7.5px;
}

#merda {
  display: none;
}

@media (max-width: 900px) {
  #merda {
    display: unset;
  }

  #seila {
    display: none;
  }

  #conteudo {
    flex-direction: column-reverse;
    align-items: center;
    width: calc(100% - 20px);
  }

  #noticias {
    width: unset;
  }

  #sideContent {
    width: calc(100% - 45px);
    padding: 15px 15px 0;
  }
}
